<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.hottop.raisehot.dao.WorkOrderDAO">
 
	<insert id="insertWorkOrder" parameterType="WorkOrder"
	keyProperty="id">
	INSERT INTO tb_work_order
	(id, status, creator, modifier,
	create_time, update_Time, start_date,
	end_date,
	version, remark, user_id,
	serial_no, job_type, gold_coin_sum, link_type,
	user_level,
	task_time,
	comparative_opt, favorites_opt, chat_opt, browse_time,
	other_requirement,
	advance_principal, additional_principal)
	VALUES
	(#{id}, #{workOrderStatus}, #{creator.id}, #{modifier.id}, #{createTime},
	#{updateTime},
	#{startDate}, #{endDate}, #{version}, #{remark},
	#{creator.id},
	#{serialNo},
	#{jobType}, #{goldCoinSum}, #{linkType},
	#{userLevel}, #{taskTime},
	#{comparativeOpt}, #{favoritesOpt},
	#{chatOpt}, #{browseTime},
	#{otherRequirement},
	#{advancePrincipal},
	#{additionalPrincipal})
	</insert>
	<update id="workOrderModifyStatus">
		UPDATE tb_work_order
		SET
		status = #{opt}
		WHERE id = #{id}
	</update>

	<select id="getAllWorkOrder" parameterType="WorkOrder"
		resultType="WorkOrder">
		SELECT id,
		status workOrderStatus,
		creator,
		modifier,
		create_time createTime,
		update_Time updateTime,
		start_date startDate,
		end_date endDate,
		version,
		remark,
		user_id creator,
		serial_no serialNo,
		job_type jobType,
		gold_coin_sum goldCoinSum,
		link_type linkType,
		user_level userLevel,
		task_time taskTime,
		comparative_opt comparativeOpt,
		favorites_opt favoritesOpt,
		chat_opt chatOpt,
		browse_time browseTime,
		other_requirement otherRequirement,
		advance_principal advancePrincipal,
		additional_principal additionalPrincipal
		FROM tb_work_order;
	</select>

	<select id="getWorkOrderById" parameterType="String" resultType="WorkOrder">
		SELECT id,
		status workOrderStatus,
		user_id creator,
		serial_no serialNo,
		job_type jobType,
		gold_coin_sum goldCoinSum,
		link_type linkType,
		user_level userLevel,
		task_time taskTime,
		comparative_opt comparativeOpt,
		favorites_opt favoritesOpt,
		chat_opt chatOpt,
		browse_time browseTime,
		other_requirement otherRequirement,
		advance_principal advancePrincipal,
		additional_principal additionalPrincipal
		FROM tb_work_order
		where id= #{id}
	</select>
	
</mapper>